@import url("https://fonts.googleapis.com/css2?family=Alkalami&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lalezar&display=swap');